//palette
$headerColor: #1F2041;
$textColor: rgba(31, 32, 65, 0.75);
$linkColor: rgba(31, 32, 65, 0.5);

$btnBackground: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);



$basicSize: 1.8rem;
$h1Size: 2.5rem;